.item {
  margin-top: 2px;
}
.des {
  width: 800px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #353748;
  color: rgba(255, 255, 255, 0.9);
  .clock-name {
    width: 200px;
  }
  .time-zone {
    width: 160px;
  }
  .dmy {
    width: 160px;
  }
  .time {
    width: 100px;
  }
  .action {
    width: 20px;
    margin-right: 30px;
  }
}

.wrapper {
  margin-bottom: 50px;
}
