.wrapper {
  width: 100%;
  margin-top: 100px;
  background-color: #353748;
  padding: 20px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .des {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #353748;
    color: rgba(255, 255, 255, 0.9);
  }
  h1 {
    color: white;
  }
  .button,
  .button:hover,
  .button:focus {
    background-color: #282f64b3;
    color: white;
    border-color: none;
    font-weight: 600;
  }
}

.btn-primary {
  border-color: none !important;
}

.time {
  width: 100%;
  background-color: #212330;
  padding: 20px;
  display: flex;
  color: rgba(255, 255, 255, 0.9);

  p {
    margin-right: 10px !important;
  }
}
