.header {
  margin-top: 100px;
  background-color: #353748;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 20px;
  h1 {
    color: white;
  }
  .button,
  .button:hover,
  .button:focus {
    background-color: #282f64b3;
    color: white;
    border-color: none;
    font-weight: 600;
  }
}

.time {
  width: 100%;

  background-color: #212330;
  padding: 20px;
  display: flex;
  color: rgba(255, 255, 255, 0.9);

  p {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
}
