.title-bar {
  width: 100%;
  padding: 20px;
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #353748;
  color: rgba(255, 255, 255, 0.9);
}
